<div>
    <iframe [src]= "url | safe" frameborder="0" width="100%" height="600px"></iframe>
    <!--
    <h2>Welcome {{ currentUser.userData.firstname }} {{ currentUser.userData.lastname }}!</h2>
    <p>You're logged In as {{ authLevel }}</p>
    <h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.userData.username}} ({{user.userData.firstname}} {{user.userData.lastname}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>
    -->
    <p><a [routerLink]="['/login']" class="ui medium green button">Logout</a></p>
    
</div>